@using Microsoft.AspNetCore.Components.Authorization

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["_content/OptiSoftBlazor.Shared/app.css"]" />
    <link rel="stylesheet" href="@Assets["_content/OptiSoftBlazor.Shared/style.css"]" />
    <link rel="stylesheet" href="@Assets["OptiSoftBlazor.Web.styles.css"]" />
    <link rel="icon" type="image/x-icon" href="_content/OptiSoftBlazor.Shared/favicon.ico" />
    <HeadOutlet />
</head>

<body>
    <CascadingAuthenticationState>
        <Routes />
    </CascadingAuthenticationState>

    <script src="_framework/blazor.web.js"></script>
</body>

</html>
