@using Microsoft.AspNetCore.Components.Authorization
@using OptiSoftBlazor.Shared.Layout
@using OptiSoftBlazor.Shared.Pages.Auth

<Router AppAssembly="@typeof(Routes).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>
            <Authorizing>
                <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
                    <p>Verificando autenticación...</p>
                </div>
            </Authorizing>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <p>Página no encontrada</p>
    </NotFound>
</Router>
