@page "/Account/Login"
@attribute [AllowAnonymous]

@using Microsoft.AspNetCore.Http
@using OptiSoftBlazor.Shared.Services

@layout MinimalLayout
@inject NavigationManager Nav
@inject IAuthService IAuthService
@inject IHttpContextAccessor Http

<FluentCard Style="width: 450px; padding: 2em;">
    <form method="get" action="/Account/Login">

        <FluentStack Orientation="Orientation.Vertical" VerticalGap="16">

            <div style="width: 100%; text-align: center;">
                <h1 style="margin: 0.5em 0;">OptiSoft</h1>
                <p style="margin: 0;">Use sus credenciales para ingresar al sistema</p>
            </div>

            <div class="fila-flex">
                <div class="columna-flex">
                    <FluentTextField Name="username"
                                     Label="Usuario"
                                     Required
                                     Style="width: 100%"/>
                </div>
            </div>
            
            <div class="fila-flex">
                <div class="columna-flex">
                    <FluentTextField Name="password"
                                     Label="Contraseña"
                                     TextFieldType="TextFieldType.Password"
                                     Required
                                             Style="width: 100%" />
                </div>
            </div>
            
            <div class="fila-flex">
                <div class="columna-flex">
                    <FluentButton Type="ButtonType.Submit"
                                  Appearance="Appearance.Accent"
                                  Style="width:100%;">
                        Iniciar sesión
                            </FluentButton>
                </div>
            </div>

        </FluentStack>
    </form>
</FluentCard>

@code {
    [SupplyParameterFromQuery] public string? username { get; set; }
    [SupplyParameterFromQuery] public string? password { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrWhiteSpace(username) && !string.IsNullOrWhiteSpace(password))
        {
            var ok = await IAuthService.LoginAsync(username, password);

            if (ok)
            {
                Http.HttpContext!.Response.Redirect("/");
                return;
            }
        }
    }
}
