@page "/"
@attribute [Authorize]

@using OptiSoftBlazor.Shared.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject IFormFactor FormFactor
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>OptiSoft</PageTitle>

<div style="width: 100%; text-align: center; padding: 3em 0;">
    <h1 style="font-size: 3em; line-height: 1em;">¡Hola @userName, bienvenido!</h1>
</div>

@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();
    private string userName = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        userName = user.Identity?.Name ?? "Usuario";
        userName = userName.Substring(0, userName.IndexOf('@'));
    }
}